<!DOCTYPE html>
<html>
  <head>
    <title>ZhrApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">


    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav>
      <div class="nav-wrapper blue-grey lighten-2">
        <a href="#!" class="brand-logo center"><%= image_tag "spa.svg" %></a>
        <ul class="left hide-on-med-and-down">
          <li><a href="">Algorithms</a></li>
          <li ><a href="">JavaScript</a></li>
        </ul>
      </div>
    </nav>

    <%= yield %>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>
